<main>
      <header class="container">
        <app-head [numberItem]="numberItem"></app-head>
      </header>
      
      <section class="container">
       

          <app-item [products]="products" (changeQuantity)="onHandleChangeQuantity($event)"
          (onRemoveProduct)="onHandleRemoveProduct($event)"></app-item>

          
      
      </section>

      <section class="container">
        <app-footer [footerModel]="footerModel" (onPromoCode)="onPromoCode($event)"></app-footer>
      </section>
    </main>